<div class="container">
    <h1>Grade manager</h1>
    <hr class="mt-3 mb-3 col-12">
    <h3>Add new grade</h3>
    <div>
        <div class="mt-3 row">
            <label class="col-2">Student: </label>
            <select class="form-control col-10" name="student" [(ngModel)]="studentGrade.student_id">
                <option [ngValue]="student.id" *ngFor="let student of studentSelectList" >
                    {{student.lastname.toUpperCase()}} {{student.firstname}}
                </option>
            </select>
        </div>
        <div class="mt-3 row">
            <label class="col-2">Grade: </label>
            <input #gradInput="ngModel" type="number" class="col-10 form-control" max="1" min="5" [(ngModel)]="studentGrade.grade" (ngModelChange)="noAdd()" [ngClass]="isInvalidGrade() && (gradInput.dirty || gradInput.touched) && !gradeAdded ? 'border-danger' : '' ">
            <div class="col-2"></div>
            <span class="p-0 m-0 text-danger col-10" *ngIf="isInvalidGrade() && (gradInput.dirty || gradInput.touched) && !gradeAdded">
                Grade must be between 1 and 5
            </span>
        </div>
        <div class="mt-3 row">
            <div class="col-2"></div>
            <button [disabled]="isInvalidGrade()" (click)="addGrade()" class="btn btn-primary form-control col-10">Add Grade</button>
        </div>

    </div>
    <hr class="mt-3 mb-3 col-12">
    <h3>List of students</h3>
    <h4 class="mt-4">Filter by:</h4>
    <div class="mt-3 row">
        <label class="form-text col-2">Name:</label>
        <input class="form-control col-10" type="text" [(ngModel)]="filterName">
    </div>
    <div class="mt-3 row">
        <label class="form-text col-2">Final grade:</label>
        <div class="col-2">
            <button class="btn btn-primary w-100" (click)="addOrRemoveGradeFilter(1)" [ngStyle]="{'background-color' : isSelectedGrade(1) ? 'darkblue':''}">1</button>
        </div>
        <div class="col-2">
            <button class="btn btn-primary w-100" (click)="addOrRemoveGradeFilter(2)" [ngStyle]="{'background-color' : isSelectedGrade(2) ? 'darkblue':''}">2</button>
        </div>
        <div class="col-2">
            <button class="btn btn-primary w-100" (click)="addOrRemoveGradeFilter(3)" [ngStyle]="{'background-color' : isSelectedGrade(3) ? 'darkblue':''}">3</button>
        </div>
        <div class="col-2">
            <button class="btn btn-primary w-100" (click)="addOrRemoveGradeFilter(4)" [ngStyle]="{'background-color' : isSelectedGrade(4) ? 'darkblue':''}">4</button>
        </div>
        <div class="col-2">
            <button class="btn btn-primary w-100" (click)="addOrRemoveGradeFilter(5)" [ngStyle]="{'background-color' : isSelectedGrade(5) ? 'darkblue':''}">5</button>
        </div>
    </div>
    <div class="mt-3 row">
        <div class="col-2"></div>
        <div class="col-10 row">
            <div class="col-4">
                <button class="btn w-100" (click)="selectPositiveGrades()" [ngClass]="onlyPositve()? 'btn-success' : 'btn-outline-success' ">positive</button>
            </div>
            <div class="col-4">
                <button class="btn w-100" (click)="selectNegativeGrades()" [ngClass]="onlyNegative()? 'btn-danger' : 'btn-outline-danger'">negative</button>
            </div>
            <div class="col-4">
                <button class="btn w-100" (click)="selectNoGrade()" [ngClass]="onlyNoGrade()? 'btn-secondary' : 'btn-outline-secondary'">no grade</button>
            </div>
        </div>
    </div>
    <div class="mt-3 row">
        <div class="col-2"></div>
        <div class="col-10">
            <button class="btn btn-primary w-100" (click)="selectedGrades = []">reset</button>
        </div>
    </div>
    <h4 class="mt-4">Sort by:</h4>
    <div class="mt-3 mb-4 row">
        <div class="col-2"></div>
        <button class="btn btn-primary" (click)="sortStudents('name')">Name<i class="bi bi-arrow-down" *ngIf="sortingProperty=='name'"></i><i class="bi bi-arrow-up" *ngIf="sortingProperty=='NAME'"></i></button>
        <div class="col-1"></div>
        <button class="btn btn-primary" (click)="sortStudents('final')">Final grade<i class="bi bi-arrow-down" *ngIf="sortingProperty=='final'"></i><i class="bi bi-arrow-up" *ngIf="sortingProperty=='FINAL'"></i></button>
        <div class="col-1"></div>
        <button class="btn btn-primary" (click)="sortStudents('age')">Age<i class="bi bi-arrow-down" *ngIf="sortingProperty=='age'"></i><i class="bi bi-arrow-up" *ngIf="sortingProperty=='AGE'"></i></button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name(Age)</th>
                <th>Best grade</th>
                <th>Worst grade</th>
                <th>Final grade</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students" [ngStyle]="{'background-color' : student.finalGrade == 0 ? 'lightgray' : student.finalGrade == 5 ? 'red':''} ">
                <ng-container *ngIf="containsFilterName(student) && selectedGrade(student.finalGrade)" >
                    <td>{{student.lastname.toUpperCase()}} {{student.firstname}}({{student.age}})</td>
                    <td>{{student.bestGrade}}</td>
                    <td>{{student.worstGrade}}</td>
                    <td *ngIf="student.finalGrade > 0">{{student.finalGrade}}</td>
                    <td *ngIf="student.finalGrade == 0">no grade</td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>
